.container {
    padding: 2rem;
  }
  
  .add_product_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .add_product_input,
  .add_product_input_textarea {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
  }